<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>缓存01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4801D8711D9A056A00090482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4801D88A1D9A056B00090482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4801D8951D9A056B00090482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
